
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      

      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
       	  ["Semester", "Hamalainen","ECON Average"],
	  ["Fall 2015",5.4,5.1],
          ["Spring 2016",5.45,5.2],
          ["Summer 2016",5.6,5.2],
          ["Fall 2016",	5.3,5.2],
	  ["Spring 2017",5.6,5.2],
	  ["Summer 2017",5.4,5.4],
          ["Fall 2017",5.5,5.1],
          ["Spring 2018",5.8,5.1],
          ["Summer 2018",5.4,5.2],
        ]);

        var options = {
          chart: {
            title: 'Student Evaluations',
            subtitle: 'Instructor Questions (2015-2018)',
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          hAxis: {format: 'decimal',viewWindow: {
        	min: 4.5,max: 6},ticks: [4.5, 5.0, 5.5, 6]},
          height: 400,
          colors: ['#5DADE2', '#7F8C8D']
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        var btns = document.getElementById('btn-group');

        btns.onclick = function (e) {

          if (e.target.tagName === 'BUTTON') {
            options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        }
      }
    </script>
